
@{
    ViewBag.Title = "Thong Tin Khach Hang";
}

<h2>Thong tin khach hang</h2>
<div class="alert alert-danger">
    <h3>Ma so: @ViewBag.CustomerId</h3>
    <p>Ho va ten: @ViewBag.customer.FirstName @ViewBag.customer.LastName</p>
    <p>Ma so: @ViewBag.customer.Address</p>
    <p>Ma so: @ViewBag.customer.YearOfBirth</p>
</div>

