
@{
    ViewBag.Title = "Dnah sach khach hang";
    //var list = ViewBag.list;
    //var list = Model as List<Nqn.Lesson04.Models.NqnCustomer>;
    int stt = 0;
}

<h2>danh sach khach hang</h2>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ma so</th>
                <th>Ho va ten</th>
                <th>Dia chi</th>
                <th>Nam sinh</th>
                <th>Chuc nang</th>
            </tr>
        </thead>
        <tbody>
            @*foreach (var item in list)*@
            @foreach (var item in Model)
            {
                stt++;
            <tr>
                <td>@stt</td>
                <td>@item.CustomerId</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Address</td>
                <td>@item.YearOfBirth</td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
</div>

